examples/n8n-workflow-complete.json
{
  "name": "Extrair Questões de PDF com Imagens Agrupadas",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Início",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.pdfPath }}"
      },
      "id": "read-binary",
      "name": "Ler Arquivo PDF",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Converter binário para base64\nconst binaryData = items[0].binary.data;\n\nreturn [{\n  json: {\n    pdfBase64: binaryData.data,\n    filename: binaryData.fileName || 'prova.pdf'\n  }\n}];"
      },
      "id": "convert-base64",
      "name": "Converter para Base64",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/extract/base64",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pdfBase64",
              "value": "={{ $json.pdfBase64 }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-api",
      "name": "Extrair PDF via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300],
      "notes": "Chama a API que retorna páginas com imagens agrupadas"
    },
    {
      "parameters": {
        "functionCode": "// Processar páginas com questões e imagens já agrupadas\nconst pages = items[0].json.data.pages;\n\n// Criar um item para cada página/questão\nconst output = pages.map(page => ({\n  json: {\n    questao_numero: page.pageNumber,\n    questao_texto: page.text,\n    texto_completo_caracteres: page.characterCount,\n    tem_imagem: page.imageCount > 0,\n    total_imagens: page.imageCount,\n    // Array de imagens já vem junto com a questão!\n    imagens: page.images.map(img => ({\n      id: img.id,\n      base64: img.base64,\n      dataUrl: img.dataUrl,\n      largura: img.width,\n      altura: img.height,\n      formato: img.format,\n      tamanho_bytes: img.sizeBytes\n    }))\n  }\n}));\n\nreturn output;"
      },
      "id": "process-pages",
      "name": "Processar Páginas com Imagens",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Cada questão já vem com suas imagens no array 'imagens'"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "questoes",
        "columns": "numero, texto, tem_imagem, total_imagens",
        "options": {}
      },
      "id": "insert-questao",
      "name": "Inserir Questão no Banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 200],
      "notes": "Insere a questão e retorna o ID"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tem_imagem }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-images",
      "name": "Questão tem imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "imagens",
        "options": {}
      },
      "id": "split-images",
      "name": "Separar Imagens da Questão",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1650, 250],
      "notes": "Divide o array de imagens em itens separados"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "questoes_imagens",
        "columns": "questao_id, imagem_id, base64, largura, altura, formato",
        "options": {}
      },
      "id": "insert-images",
      "name": "Inserir Imagens no Banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1850, 250],
      "notes": "Insere cada imagem vinculada à questão"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Arquivo PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Arquivo PDF": {
      "main": [
        [
          {
            "node": "Converter para Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para Base64": {
      "main": [
        [
          {
            "node": "Extrair PDF via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair PDF via API": {
      "main": [
        [
          {
            "node": "Processar Páginas com Imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Páginas com Imagens": {
      "main": [
        [
          {
            "node": "Inserir Questão no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Questão no Banco": {
      "main": [
        [
          {
            "node": "Questão tem imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questão tem imagem?": {
      "main": [
        [
          {
            "node": "Separar Imagens da Questão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Imagens da Questão": {
      "main": [
        [
          {
            "node": "Inserir Imagens no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
